.modal {
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding-top: 5rem;
  background: rgba(0, 0, 0, 0.7);
}

.modal__body {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 3fr 3fr;
  grid-template-columns: repeat(3, 1fr);

  width: 60vw;
  height: 70vh;

  padding: 0rem;

  background-color: seashell;
  border-radius: 5px;

  .btn--close{
    grid-column: 3/4;
    justify-self: end;
    height: 3rem;
    width: 3rem;

    transition: all 200ms linear;
    &:hover {
      transform: scale(1.5);
      transition: all 200ms linear;
    }
  }

  .soundIcon--off, .soundIcon--on {
    grid-column: 2/3;
  }
}