.modal__body {
  grid-template-areas:
    "title title title"
    "input input input"
    "skin skin skin"
    "lang lang lang"
    "mode mode mode"
    "close-btn close-btn close-btn";

  .icon--setting {
    transform: none;
    max-height: 5rem;
    transition: all 0s linear;
    &:hover {
      cursor: pointer;
      transition: all 0s linear;
    }
    &.icons--skin {
      &:hover{
        animation: wiggle 2.5s both;
      }
    }
    &.icons--lang {
      transform: scale(1);
      transition: transform 250s linear;
      &:hover{
        animation: wiggle 2.5s both;
      }
    }
  }

  .btn--game-mode {
    font-size: 1.4rem;
    background-color: rgb(219, 0, 0);
    &:first-of-type {
      background-color: green;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

// animations
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(0deg);
  }
}

