.stats-string {
  display: grid;
  grid-gap: 0;
  grid-template-columns: minmax(max-content, 250px) minmax(max-content, 250px);
  grid-template-rows: repeat(2, auto);
  justify-items: center;

  // background: linear-gradient(0.25turn, #59d2e7, #f8faf7, #f6673c);

  .round-stats {
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: minmax(max-content, 250px) minmax(max-content, 250px);
    grid-template-rows: 2.8rem 3rem;
  }

  .round {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;

    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    // width: fill-available;  // react warning

    text-align: center;
    background-color: rgba(0, 0, 0, 0.089);
  }

  h2,
  h3 {
    color: rgb(83, 83, 83);
    margin: 0 auto;
    padding: 3px 1.5rem;
  }

  .round-header {
    font-size: 1.4rem;
    font-weight: 500;
  }

  p {
    margin: 5px;
    font-weight: 600;
  }
}

.hidden {
  display: none !important;
}

.battlefield {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr 1fr;
  height: 20rem;
  width: 20rem;
  margin: auto;

  // animation: 7s infinite spin linear;

  .weapon {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .rock {
    background-image: url("../../assets/rock.svg");
  }
  .scissors {
    background-image: url("../../assets/scissors.svg");
    background-position: bottom;
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .paper {
    background-image: url("../../assets/paper.svg");
    grid-column: 3/4;
  }
}

// animations

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes jump {
  from {
    transform: translateY(15rem);
    animation-timing-function: ease-out;
  }
  25% {
    top: 50px;
    animation-timing-function: ease-in;
  }
  50% {
    top: 150px;
    animation-timing-function: ease-out;
  }
  75% {
    top: 75px;
    animation-timing-function: ease-in;
  }
  to {
    top: 100px;
  }
}
