.App {
  display: grid;
  grid-template-rows: 8rem auto 8rem;
  height: 100vh;

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    margin: auto;
    text-align: center;
  }
}
