* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;

  background-color: #b2ebe0;
}


.App__header, .App__footer {
  height: 8rem;
  padding: 0.7rem;
  width: 100%;
  background-color: #b2ebe0;
  text-align: center;
}

.App__header {
  .btn {
    // padding: 0.4rem 0.6rem;
    margin: 0.8rem;
    font-size: 1.4rem;
    background-color: #004d40;
    &:hover {
      background-color: #009688;
    }
  }
}

.App__footer {
  background-color: #548a80;
  .wrapper {
    width: 100%;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .author, .RSS, .youtube {
      height: 7rem;
      padding: 0.5rem;
      text-align: center;

      opacity: 0.7;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        opacity: 1;
        transition: all 0.3s;
      }
    }
    .RSS {
      display: flex;
      & > .icon {
        margin: auto 0;
        height: 5rem;
      }
    }
    .link {
      display: block;
      color: white;
      text-decoration: none;
    }
    .icon {
      height: 4rem;
    }
  }
}